body {
  color: #fff;
  background: linear-gradient(286.95deg, rgba(0, 0, 0, 0.89) 31.68%, #2E2E2E 65.49%);
}

.banner {
  height: 70vh;
  width: 100%;
  position: relative;
}

.banner img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}

.author {
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translateX(-40%);
          transform: translateX(-40%);
  color: #fff;
  text-align: center;
}

.author h1 {
  font-size: 42px;
}

.author h3 {
  color: #8BA28B;
  font-family: PopXtra;
  font-size: 24px;
  padding: 10px 0px;
}

.story {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin: auto;
  padding: 80px 0px;
}

.story .description {
  width: 50%;
}

.story .description h3 {
  font-size: 24px;
  padding-bottom: 20px;
}

.story .description p {
  color: #8BA28B;
  padding: 20px 0px;
  font-size: 20px;
}

.subheading {
  font-size: 24px;
  color: #8BA28B;
  padding: 50px;
  text-align: center;
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (400px)[3];
      grid-template-columns: repeat(3, 400px);
  grid-gap: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery img {
  width: 100%;
}

@media (max-width: 1024px) {
  .story {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .story .description {
    width: 100%;
  }
  .gallery {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .profile {
    padding-top: 30px;
    text-align: center;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: PopLight;
  src: url("./fonts/Poppins-Light.ttf");
}

@font-face {
  font-family: PopRegular;
  src: url("./fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: PopXtra;
  src: url(./fonts/Poppins-ExtraLight.ttf);
}

body {
  font-family: PopLight;
}

.portfolio {
  color: #fff;
  background: linear-gradient(286.95deg, rgba(0, 0, 0, 0.89) 31.68%, #2E2E2E 65.49%);
}

nav {
  min-height: 10vh;
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0px;
}

nav img {
  width: 30px;
}

.logo {
  font-size: 20px;
}

.page {
  min-height: 90vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% (1fr)[12] 5%;
      grid-template-columns: 5% repeat(12, 1fr) 5%;
}

.hero {
  overflow: hidden;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  justify-self: center;
  -ms-grid-column: 6;
  -ms-grid-column-span: 4;
  grid-column: 6/10;
  padding-left: 50px;
}

.hero img {
  height: 500px;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  cursor: pointer;
}

.hero .img-right {
  -webkit-transform: translate(0%, 10%);
          transform: translate(0%, 10%);
}

.hero .img-left {
  -webkit-transform: translate(0%, -10%);
          transform: translate(0%, -10%);
}

.hero:hover .img-right {
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
}

.hero:hover .img-left {
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
}

.details {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 0px 10px;
}

.details h1 {
  font-size: 48px;
  font-family: PopRegular;
}

.details h2 {
  font-size: 28px;
  padding: 20px 0px;
  font-family: PopXtra;
  color: #fff;
}

.details p {
  font-size: 24px;
  padding: 20px 0px 50px 0px;
}

.details a {
  text-decoration: none;
}

.details a :hover {
  color: #8BA28B;
}

.pages {
  position: absolute;
  right: 5%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.pages div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
}

.pages h3 {
  font-size: 14px;
  padding: 5px;
}

.pages svg {
  cursor: pointer;
  opacity: 0.5;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.pages svg:hover {
  -webkit-animation: dot 0.5s ease-in-out infinite alternate;
          animation: dot 0.5s ease-in-out infinite alternate;
  color: #8BA28B;
}

.pages svg.active {
  opacity: 1;
}

@-webkit-keyframes dot {
  0% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  100% {
    -webkit-transform: scale(2.25);
            transform: scale(2.25);
  }
}

@keyframes dot {
  0% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  100% {
    -webkit-transform: scale(2.25);
            transform: scale(2.25);
  }
}

@media (max-width: 1024px) {
  .page {
    -ms-grid-columns: 5% 1fr 5%;
        grid-template-columns: 5% 1fr 5%;
    -ms-grid-rows: 2fr 1fr;
        grid-template-rows: 2fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .page .details {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    text-align: center;
  }
  .hero {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    height: auto;
    padding-right: 50px;
  }
  .hero img {
    width: 300px;
  }
}

@media (max-width: 768px) {
  .page {
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  .hero img {
    height: 300px;
    width: 200px;
  }
  .details h1 {
    font-size: 38px;
  }
  .details h2 {
    font-size: 18px;
  }
}

.nav-open {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 20vh;
  background-color: #8BA28B;
  z-index: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% 1fr 1fr 5%;
      grid-template-columns: 5% 1fr 1fr 5%;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.nav-open h3 {
  font-size: 24px;
  padding-bottom: 10px;
}

.nav-open p {
  font-size: 18px;
}

.logo {
  z-index: 2;
}

.menu {
  z-index: 2;
  cursor: pointer;
}

.contact {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}
/*# sourceMappingURL=style.css.map */